


h{
  text-align: left;
  font-family: verdana;
  text-size: 15%;
}

body{
      background-color: #bfbfbf;
}

p{
      background-color: white;
      /*border: 1px outset black;*/
      border-bottom-style: outset;
      border-width: 5px;
      border-radius: 10px;
      padding: 10px;
}

p.foot{
	background-color: black;
	color: white;
}
ul{
  overflow: hidden;
  list-style-type: none;
  position: fixed;
  top:0;
  width: 100%;
  margin: 0;
  padding: 5px;
  border-bottom-style: outset;
  border-width: 5px;
  background-color: #333;
}

li{
  display: inline;

}

li a{
   margin: 1px;
   width: 20%;
   color: black;
}

li a:hover{
  background-color: #292929;
  color: white;
}

li:first-child{
  border-right: 1px solid #fff;
  text-size: 20%;
}

.active{
  background-color: gray;
  color: white;
}

.container{
  max--width: 100px;
  position: relative;
  color: black;
  margin:0  auto;
}

.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
  border-bottom-style: outset;
  border-width: 5px;
  border-radius: 5px;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}
