


h{
  text-align: left;
  font-family: verdana;
  text-size: 15%;
}

body{
      background-color: #bfbfbf;
}

p{
      border: 1px solid black;
      padding: 0px;
}

ul{
  overflow: hidden;
  list-style-type: none;
  position: fixed;
  top:0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li{
  display: inline;
}

li a{
   display: block;
   width: 20%;
   color: #333;
}

li a:hover{
  background-color: #000;
}

.active{
  color: #0d0d0d;
}

.container{
  max--width: 100px;
  position: relative;
  color: black;
  margin:0  auto;
}

.container div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}
