


h{
  text-align: left;
  font-family: verdana;
  text-size: 15%;
}

body{
      background-color: #bfbfbf;
}

p{
      border: 1px solid black;
      padding: 0px;
}

ul{
  overflow: hidden;
  list-style-type: none;
  position: fixed;
  top:0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

li{
  display: inline;
}

li a{
   display: block;
   width: 20%;
   color: #333;
}

li a:hover{
  background-color: #000;
}
